  h1 {
    line-height: 500%;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 2rem;
  }

    h2 {
    line-height: 500px;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 2rem;
  }

    h3 {
    line-height: 500%;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 2rem;
  }